[submodule "VEngine/Libs/glfw"]
	path = VEngine/Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VEngine/Libs/glm"]
	path = VEngine/Libs/glm
	url = https://github.com/g-truc/glm
[submodule "VEngine/Libs/VMA"]
	path = VEngine/Libs/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "VEngine/Libs/shaderc"]
	path = VEngine/Libs/shaderc
	url = https://github.com/google/shaderc.git
